<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
  <thead>
  <tr>
    <th>사진</th>
    <th>판매상태</th>
    <th>상품명</th>
    <th>가격</th>
    <th>찜</th>
    <th>최근끌어올린날짜</th>
    <th>기능</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="product : ${products}">
    <td>
      <a th:href="@{|/products/${product.pdId}|}">
        <img th:if="${product.fileId}!=null" th:src="${product.fileId}" alt="">
      </a>
    </td>
    <td>
      <div>
        <select class="product-dealStatus-select" th:data-product-id="${product.pdId}">
          <option th:value="SELL" th:selected="${product.dealStatus.toString() == 'SELL'}">판매중</option>
          <option th:value="CANC" th:selected="${product.dealStatus.toString() == 'CANC'}">거래취소</option>
          <option th:value="HIDE" th:selected="${product.dealStatus.toString() == 'HIDE'}">상품숨김</option>
        </select>

      </div>
    </td>
    <td>
      <a th:text="${product.getPdName()}" th:href="@{|/products/${product.pdId}|}"></a>
    </td>
    <td th:text="${product.pdPrice} + '원'"></td>
    <td th:text="${product.likeCount}"></td>
    <td th:text="${product.pullUpDate}"></td>
    <td>
      <button th:data-pullUp-id="${product.pdId}" th:data-pullUp-cnt="${product.pullUpCnt}"
              class="product-pullUp-btn" type="button"
              th:disabled="${product.pullUpCnt != null ? product.pullUpCnt >= 3 : false}">끌어올리기
      </button>

      <button>
        <a th:href="@{|/products/updateForm/${product.pdId}}">수정</a></button>
      <button th:data-pd-id="${product.pdId}" class="product-delete-btn" type="button">삭제</button>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>