<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout::layout(~{::title}, ~{::#content}, ~{}, ~{})}">
<head>
    <!-- title 작성 위치 -->
    <title>상품 수정 페이지</title>
    <!-- 상단 script 작성 위치 -->
    <!-- 쓸일 없으면 삭제해도 됨, 삭제하면 line 3 : ~{::#upperScript} -> ~{}로 수정, ☆★replace 순서 중요☆★ -->
    <script id="upperScript">

    </script>
</head>
<body>

<!-- #content 내부에 필요한 html 작성 -->

<div id="content">
    <style>
        /* styles.css */
        #att_zone {
            width: 660px;
            min-height: 150px;
            padding: 10px;
            border: 1px dotted #ccc;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            overflow-x: auto;
        }

        .image-container {
            position: relative;
            width: 150px;
            height: 120px;
            border: 1px solid #ccc;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .image-container img {
            width: 100%;
            height: 80%;
            object-fit: cover;
        }

        .image-order {
            position: absolute;
            bottom: 5px;
            left: 5px;
            background-color: rgba(255, 255, 255, 0.8);
            color: #000;
            padding: 2px 5px;
            font-size: 12px;
            border-radius: 3px;
        }

        .delete-button {
            position: absolute;
            top: 5px;
            right: 5px;
            background-color: rgba(255, 255, 255, 0.8);
            cursor: pointer;
            color: #000;
            border-radius: 3px;
        }

        span {
            display: inline-block;
            margin-right: 10px;
        }

    </style>
    <h2>상품정보</h2>
    <div id="product" th:each="product:${product}">
        <form th:action="@{/products/update/{pdId}(pdId=${product.pdId})}" method="post" enctype="multipart/form-data"
              id="pdForm">
            <!-- file upload -->
            <div id="image_preview">
                <label>상품이미지</label>
                <input type="file" id="btnAtt" multiple="multiple" name="imgList[]"/>
                <div id="att_zone"
                     data-placeholder='파일을 첨부 하려면 파일 선택 버튼을 클릭하거나 파일을 드래그앤드롭 하세요'></div>
            </div>
            <p th:each="file : ${files}" th:hidden="hidden">
                <!-- list 형식으로 받아와서 get(0)으로 파일 목록에서 첫번째 파일 id 가져오기-->
                <img th:if="${file}!=null" th:src="${file}" id="existFile">
            </p>
            <div>
                <label>상품명</label>
                <label>
                    <input type="text" name="pdName" th:value="${product.pdName}">
                </label>
                <a target="_blank" th:href="@{|/products/prohibitedItems|}">
                    <span>거래금지 품목 보기</span>
                </a>
            </div>
            <div>
                <label>가격</label>
                <input type="number" name="pdPrice" th:value="${product.pdPrice}">
            </div>
            <div>
                <label>카테고리</label>
                <select name="ctgrId" form="pdForm">
                    <option th:each="category : ${categories}" th:value="${category.ctgrId}"
                            th:text="${category.ctgrName}"
                            th:selected="${category.ctgrName} == ${product.ctgrName}"></option>
                </select>
            </div>
            <div>
                <label>설명</label>
                <input name="pdContent" rows="5" cols="30" th:value="${product.pdContent}"></input>
            </div>
            <div>
                <label>거래위치</label>
                <!--<button type="button">최근 거래위치</button>-->
                <input type="hidden" th:value="${product.latitude}" id="latitude" name="latitude">
                <input type="hidden" th:value="${product.longitude}" id="longitude" name="longitude">
            </div>
            <label for="detailAddr">상세 주소</label>
            <input th:value="${product.detailAddr}" id="detailAddr" name="detailAddr">
            <div id="map" style="width:300px; height:300px; margin-top:10px;"></div>
            <div>
                <div>상품 종류</div>
                <span th:each="status, iterStat: ${pdStatus}">
    <th:block th:unless="${status == T(org.example.project302.product.entity.ProductStatus).GROUP}">
      <input type="radio" id="pdStatus__${iterStat.index}" th:value="${status.name()}"
             th:checked="${status == product.pdStatus}" name="pdStatus">
      <label th:text="${status.description}"></label>
    </th:block>
  </span>
            </div>
            <div>
                <input type="submit" value="등록">
            </div>
        </form>
    </div>
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b7f3729f18428af75c37169adab87eaa&libraries=services"></script>
    <script>
        // 설정된 지도
        const la = document.querySelector("#latitude").value;
        const lo = document.querySelector("#longitude").value;
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
            mapOption = {
                center: new kakao.maps.LatLng(la, lo), // 지도의 중심좌표
                level: 3 // 지도의 확대 레벨
            };

        var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
        // var map = new daum.maps.Map(mapContainer, mapOption);

        // 지도를 클릭한 위치에 표출할 마커입니다
        var marker = new kakao.maps.Marker({
            // 지도 중심좌표에 마커를 생성합니다
            position: map.getCenter()
        });

        // 지도에 마커를 표시합니다
        marker.setMap(map);

        // 지도에 클릭 이벤트를 등록합니다
        // 지도를 클릭하면 마지막 파라미터로 넘어온 함수를 호출합니다
        kakao.maps.event.addListener(map, 'click', function (mouseEvent) {

            // 클릭한 위도, 경도 정보를 가져옵니다
            var latlng = mouseEvent.latLng;

            // 마커 위치를 클릭한 위치로 옮깁니다
            marker.setPosition(latlng);

            // input 요소 선택
            var inputLat = document.getElementById("latitude");
            inputLat.value = latlng.getLat();
            var inputLng = document.getElementById("longitude");
            inputLng.value = latlng.getLng();
        });

        $(function () {
            $("#sortable").sortable({
                update: function (event, ui) {
                    updateOrder();
                }
            });
            $("#sortable").disableSelection();
        });

        // 사진 번호 붙이는 메소드
        function updateOrder(id) {
            var images = $(".fileIndex");
            images.each(function (index) {
                $(this).find('.image-order').text(index + 1);
            });
        }

        // 사진 보여 주기(미리 보기)
        function makeDiv(file, la) {
            console.log(la)
            console.log(file)
            const div = document.createElement('div');
            div.setAttribute('class', 'image-container');

            if (la != null && typeof file === "string") {
                div.innerHTML += `<button data-index='${la}' class='file-remove'>X</button>`
            } else {
                div.innerHTML += `<button data-index='${file.lastModified}' class='file-remove'>X</button>`
            }

            // 이미지 번호 부여
            const order = document.createElement('div');
            order.setAttribute('class', 'image-order');
            div.appendChild(order);

            const img = document.createElement('img');
            img.setAttribute('style', 'width:100%;height:100%;z-index:none');

            console.log(file)

            if (typeof file === "string") {
                img.src = file
            } else {
                img.src = URL.createObjectURL(file);
            }

            div.appendChild(img);

            return div;
        }


        // 사진 동적으로 동작
        const handle = {
            // 사진이 바뀔때마다 여기 담긴다
            files: [],
            // 기존 원격 사진 저장
            remoteFiles: [],
            init() {
                // 파일 선택
                const fileInput = document.querySelector("#btnAtt");
                // 미리 보기
                const preview = document.querySelector("#att_zone");
                const existImg = document.querySelectorAll('#existFile');

                fileInput.addEventListener('change', () => {
                    // 새로운 파일
                    const newFiles = Array.from(fileInput.files)

                    // 새로운 파일 추가
                    newFiles.forEach(file => {
                        const isDuplicate = this.files.some(exist =>
                            exist.lastModified === file.lastModified
                        );
                        if (!isDuplicate) {
                            this.files.push(file);
                            // displayExist();
                        }

                        // 10개 이상의 파일을 선택했는지 확인
                        if (this.files.length + this.remoteFiles.length > 10) {
                            alert("사진은 최대 10개까지 선택할 수 있습니다.");
                            // 최신 파일부터 10개로 잘라내기
                            this.files = this.files.slice(0, 10 - this.remoteFiles.length);
                        }
                    });

                    // 아이디 넣는 배열 생성
                    const ids = [];
                    const currentFiles = [];

                    this.remoteFiles.forEach(r => {
                        if (!ids.includes(r.lastModified.toString())) {
                            ids.push(r.lastModified.toString())
                            currentFiles.push(r); // 현재 파일 목록에 추가
                        }
                        console.log(ids + "다른 ids")
                    });
                    preview.innerHTML = '';

                    this.files.concat(this.remoteFiles).forEach(file => {
                        if (!currentFiles.some(f => f.lastModified === file.lastModified)) {
                            currentFiles.push(file); // 현재 파일 목록에 추가
                        }

                        const div = document.createElement('div');
                        let appendDiv;
                        const existImgArray = Array.from(existImg);
                        const exist = existImgArray.find(exist => decodeURIComponent(exist.src.substring(exist.src.lastIndexOf('/') + 1)) === file.name);

                        // 기존 파일과 새로운 파일 구분
                        if (exist) {
                            appendDiv = makeDiv(exist.src, file.lastModified); // makeDiv 함수 호출하여 미리보기 이미지를 생성
                        } else {
                            appendDiv = makeDiv(file, null);
                        }
                        div.id = file.lastModified;
                        // 배열에 아이디 값만 넣기
                        if (!ids.includes(div.id)) {
                            ids.push(div.id)
                        }

                        div.className = 'fileIndex';

                        div.appendChild(appendDiv);
                        // 사진 순서 정렬
                        updateOrder(div.id)
                        preview.appendChild(div);
                    });

                    console.log(ids + "ids")

                    // fileInput 업데이트
                    const dt = new DataTransfer();
                    currentFiles.forEach(file => dt.items.add(file));
                    fileInput.files = dt.files;

                    // 아이디 배열 매개변수로 넘기기
                    updateFileInput(ids);
                });
            },
            // 사진 삭제
            removeFile() {
                document.addEventListener('click', (e) => {
                    if (e.target.className !== 'file-remove') return;
                    const ids = [];
                    const removeTargetId = e.target.dataset.index;
                    console.log(removeTargetId);
                    const removeTarget = document.getElementById(removeTargetId);

                    // files 배열에서 삭제 대상 파일 제거
                    this.files = this.files.filter(file => file.lastModified.toString() !== removeTargetId);
                    // remoteFiles 배열에서도 삭제 대상 파일 제거
                    this.remoteFiles = this.remoteFiles.filter(file => file.lastModified.toString() !== removeTargetId);

                    const dataTransfer = new DataTransfer();

                    // 남은 파일들을 다시 fileInput에 추가
                    this.files.concat(this.remoteFiles).forEach(file => {
                        dataTransfer.items.add(file);
                        ids.push(file.lastModified.toString());
                    });

                    document.querySelector('#btnAtt').files = dataTransfer.files;

                    removeTarget.remove();
                    updateFileInput(ids);
                    e.preventDefault();
                });
            },
        }
        handle.init()
        handle.removeFile();


        // 기존 이미지 파일 url을 가져와서 버튼에 추가
        function displayExist() {
            const preview = document.querySelector('#att_zone');
            const existImg = document.querySelectorAll('#existFile');
            const fileInput = document.querySelector("#btnAtt");

            const existFileNames = [];
            const existFileLastModified = []; // 이미 존재하는 파일들의 lastModified 값을 담는 배열

            handle.remoteFiles.forEach(f => {
                console.log(f)
                console.log(f.name);
                existFileNames.push(f.name);
                existFileLastModified.push(f.lastModified);
            })

            console.log(existImg);
            Array.from(existImg).forEach(img => {
                const existDiv = document.createElement('div');

                const url = decodeURIComponent(img.src);
                console.log(url)
                const fileName = url.substring(url.lastIndexOf('/') + 1);
                console.log(fileName)
                let lastModified;
                if (!existFileNames.includes(fileName)) {
                    lastModified = new Date().getTime();
                    // 사진 순서 정렬
                } else {
                    const foundFile = handle.remoteFiles.find(file => file.name === fileName);
                    if (foundFile) {
                        lastModified = foundFile.lastModified;
                    }
                }

                const existFile = new File([url], fileName, {type: 'image/*', lastModified: lastModified});
                // handle.files에 파일 추가
                const dt = new DataTransfer();
                if (!handle.remoteFiles.some(f => f.lastModified === lastModified)) {
                    handle.remoteFiles.push(existFile);
                }
                handle.remoteFiles.forEach(f => {
                    dt.items.add(f);
                })
                fileInput.files = dt.files

                const appendDiv = makeDiv(url, lastModified); // makeDiv 함수 호출하여 미리보기 이미지를 생성

                console.log(existDiv)
                existDiv.id = lastModified;

                existDiv.className = 'fileIndex';

                existDiv.appendChild(appendDiv);

                updateOrder(existDiv.id)
                preview.appendChild(existDiv);
            })
        }

        displayExist();


        let fileArray = [];

        function updateFileInput(fileIds) {
            console.log(fileIds)
            const fileInput = document.querySelector("#btnAtt");
            const dataTransfer = new DataTransfer();
            // 추가되는 파일

            const allFiles = [...handle.files, ...handle.remoteFiles];

            console.log(allFiles)
            if (allFiles.length > 0) {
                // 변경된 파일 아이디들
                for (let i = 0; i < fileIds.length; i++) {
                    const files = fileIds[i]
                    // 원래 있던 파일들
                    for (let j = 0; j < allFiles.length; j++) {
                        // 둘의 아이디 값이 같으면 해당되는 파일을 새로운 파일에 추가
                        if (parseInt(files) === parseInt(allFiles[j].lastModified)) {
                            const newFile = allFiles[j];
                            dataTransfer.items.add(newFile);
                        }
                    }
                }
            }
            // 기존 파일에 새로운 파일 넣기
            fileInput.files = dataTransfer.files;
            console.log(fileInput.files)
        }

        const fileInput = document.querySelector("#btnAtt");
        const preview = document.querySelector("#att_zone");

        fileInput.onchange = function (e) {
            var files = e.target.files;
            var fileArr = Array.prototype.slice.call(files);
            for (f of fileArr) {
                makeDiv(f);
            }
        };

        // 탐색기에서 드래그앤 드롭 사용
        preview.addEventListener('dragenter', function (e) {
            e.preventDefault();
            e.stopPropagation();
        }, false);

        preview.addEventListener('dragover', function (e) {
            e.preventDefault();
            e.stopPropagation();
        }, false);

        preview.addEventListener('drop', function (e) {
            var files = {};
            e.preventDefault();
            e.stopPropagation();
            var dt = e.dataTransfer;
            files = dt.files;
            const newFiles = Array.from(files);
            for (const file of newFiles) {
                const div = makeDiv(file);
                div.id = file.lastModified;
                div.className = 'fileIndex';
                preview.appendChild(div);
                fileArray.push(file.lastModified.toString());
            }
            updateFileInput(fileArray);
        }, false);

        $(preview).sortable({
            axis: 'x', // x축 방향으로만 드래그 가능
            containment: "parent", // 부모 요소 내에서만 드래그 가능
            tolerance: 'pointer', // 마우스 포인터가 요소 위에 있을 때만 드래그 가능
            update: function (event, ui) {
                updateOrder();
                const newFileArray = Array.from(fileInput.files);
                const images = $(".fileIndex");
                // 드래그로 변경된 아이디값들 변경하기
                newFileArray.forEach((file, index) => {
                    const id = $(images[index]).attr('id');
                    fileArray[index] = id
                });
                console.log(fileArray)
                // 파일 바꾸는 메소드에 변경된 아이디 값들 매개변수로 넣기
                updateFileInput(fileArray);
            }
        });
    </script>
</div>

<!-- 하단 script 작성 위치 -->
<!-- 쓸일 없으면 삭제해도 됨, 삭제하면 line 3 : ~{::#lowerScript} -> ~{}로 수정, ☆★replace 순서 중요☆★ -->
<script id="lowerScript">

</script>
</body>
</html>
