<div class="search-empty" th:if="${productsEmpty}">
    찾으시는 중고거래 상품이 없습니다
</div>
<div class="search-not-empty" th:unless="${productsEmpty}">
<!--        <span th:text="${totalProducts}"></span>-->

    <div class="product-list">
        <div th:each="product : ${products}" class="product-item">
            <a th:href="@{/products/{id}(id=${product.pdId})}">
                <div class="product-thumbnail">
                    <img th:src="${product.fileId}" alt="Product Image">
                </div>
                <div class="product-info">
                    <p class="product-title" th:text="${product.pdName}"></p>
                    <p class="product-price" th:text="${product.pdPrice} + '원'"></p>
                    <p class="product-date" th:text="${product.formattedPullUpDate}"></p>
                </div>
            </a>
        </div>
    </div>

    <button class="search-more" th:onclick="|location.href='@{/products/filter(pdKeyword=${keyword})}'|">더보기</button>
</div>