<section class="guest-main container">
    <div>
        <p class="guest-main-title">
            오직 대학생을 위한<br>
            알뜰 거래 서비스
        </p>
        <p class="guest-main-desc">
            매일 가는 학교에서<br>
            매일 지나치는 사람들과<br>
        </p>
        <div class="guest-main-btns">
            <a th:href="@{/signin}" class="guest-main-login">
                로그인
            </a>
            <a th:href="@{/users/join}" class="guest-main-join">
                회원가입
            </a>
        </div>
    </div>
    <div>
        <p class="guest-main-logo">
            PROJECT<br>
            302.
        </p>
    </div>
</section>
