<section class="guest-main container">
    <div>
        <p class="guest-main-title">
            우리에게 필요한<br>
            우리만의 거래
        </p>
        <p class="guest-main-desc">
            대학 인증 후<br>
            물건을 구경하세요!
        </p>
        <div class="guest-main-btns">
            <a th:href="@{/mypage}" class="guest-main-auth">
                대학 인증하기
            </a>
        </div>
    </div>
    <div>
        <p class="guest-main-logo">
            PROJECT<br>
            302.
        </p>
    </div>
</section>