<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout::layout(~{::title}, ~{::#content}, ~{::#upperScript}, ~{::#lowerScript})}">
<head>
    <!-- title 작성 위치 -->
    <title></title>
    <!-- 상단 script 작성 위치 -->
    <!-- 쓸일 없으면 삭제해도 됨, 삭제하면 line 3 : ~{::#upperScript} -> ~{}로 수정, ☆★replace 순서 중요☆★ -->
    <script id="upperScript">

    </script>
</head>
<body>

<!-- #content 내부에 필요한 html 작성 -->
<div id="content">

    <!-- 받은 후기 -->
    <div class="profile-reviews" th:include="users/profile/_reviews"></div>
</div>

<!-- 하단 script 작성 위치 -->
<!-- 쓸일 없으면 삭제해도 됨, 삭제하면 line 3 : ~{::#lowerScript} -> ~{}로 수정, ☆★replace 순서 중요☆★ -->
<script id="lowerScript">

</script>
</body>
</html>